<%- include('../partials/navigation') %>
<div>
  <p>ID: <%= book.id %></p>
  <p>Title: <%= book.title %></p>
  <p>Publishing Year: <%= book.publishingYear %></p>
  <p>Author: <%= book.author.name %></p>
</div>